[submodule "lerobot"]
	path = lerobot
	url = git@github.com:huggingface/lerobot.git
[submodule "xArm-Python-SDK"]
	path = xArm-Python-SDK
	url = git@github.com:xArm-Developer/xArm-Python-SDK.git
[submodule "mujoco_menagerie"]
	path = mujoco_menagerie
	url = git@github.com:eufrizz/mujoco_menagerie.git
[submodule "xarm_ros2"]
	path = xarm_ros2
	url = git@github.com:xArm-Developer/xarm_ros2.git
